.bookview_container{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 1% 10%;
    padding: 2%;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    backdrop-filter: blur(10px);
}

.bookview_container img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 0 6% 6% 0 / 4%;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
  }
  
  /* Estilos según el estado de lectura */
  .reading {
    background-color: #ffcc00;
    color: #333;
  }
  
  .read {
    background-color: #4caf50;
    color: white;
  }
  
  .toread {
    background-color: #2196f3;
    color: white;
  }
  
  .dropped {
    background-color: #f44336;
    color: white;
  }
  
  /* Estilo cuando el libro no ha sido añadido */
  .notAdded {
    background-color: #ddd;
    color: #555;
  }