:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --color_background: #eee9dd; 
    --color_primary_text: #1e1c43 ;  
    --color_important_text: #652028 ;
    --color_background_gradient: linear-gradient(
        to bottom right,
        var(--color_important_text),
        50%,
        var(--color_primary_text)
      );   
    --color_link: #4C8DB7 ; 
    --color_link_hover: #25537A; 
    --color_card_background: #F2D6D0 ;  
    --color_secondary_text: #316793 ;  
    --color_button: #316793 ;  
    --color_border: #652028;  
    --color_header: #652028 ; 
}

*{
    box-sizing: border-box;
}
  
html,
body {
    background: var(--color_background_gradient);
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachment: fixed;
}
  
body {
    place-items: center;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

h2{
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: var(--color_button);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
button:hover {
    background-color: var(--color_link_hover);
}

.divider {
    border-top: 2px solid var(--color_primary_text);
    margin: 10px 0;
}

.text_center{
    display: flex;
    justify-content: center;
}

.no_underline{
    text-decoration: none;  
}
/* Inputs */
input {
    width: 100%;
    padding: 20px 0 2px 12px; 
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
  
input:focus {
    border-color: var(--color_link_hover);
}

label {
    position: absolute;
    left: 12px;
    top: 16px;  
    font-size: 14px;
    color: #777;
    pointer-events: none;
    transition: all 0.3s ease;
}
  
input:focus + label,
input:not(:placeholder-shown) + label {
    top: 0px;
    font-size: 11px; 
    color: var(--color_link_hover); 
}

.required {
    color: red;
    font-weight: bold;
  }

/* Login and Signup */
.login_form {
    max-width: 400px;
    min-width: 320px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
  
.input_group {
    position: relative;
    margin-bottom: 10px;
}

.error_message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
  
.input_group.error input {
    border-color: red;
}