.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.signup_header {
    margin-bottom: 20px;
    text-align: center;
}

.signup_header h2 {
    margin-bottom: 0;
}

.signup_header p {
    font-size: 16px;
    color: #666;
}

.signup_form{
    max-width: 400px;
    min-width: 320px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.name_surname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.router_link{
    gap: 10px;
}